@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:ital,wght@0,300;0,700;1,400&family=Roboto:ital,wght@0,300;1,100&display=swap');
* {
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    
    margin: auto;
    padding: .9rem 3rem;
}

.time {
    color: black;
    font-size: 5em;
    
    font-weight: bold;
}
.controller {
    
    display: block;
}

.start, .stop, .reset{
    margin: 10px;
    border: 1px solid black;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;  
}
